/*  font*/
@font-face {
  font-family:"roboto";
  src: url("./../font/Roboto-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family:"roboto-italic";
  src: url("./../font/Roboto-LightItalic.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("./../font/Roboto-Medium.ttf");
  font-style: bold;
}
/*CV general #8faadc #f2f2f2*/

body ,h1,h2,h3,p,span{
font-family: "roboto";
}
h1{
  font-size: 1em;
  font-family: roboto-bold;
}
h2{
  color: #8faadc;
  margin: 32px;
  text-align: center;
  font-family: roboto-bold;
}
h3{
  font-size: 1em;
  font-size: 1em;
  font-family: roboto-bold;
}
/*navbar*/  
nav{
  background-color: #8faadc;

}
/*header*/
img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 10px 5px 5px #dde5f4;
  margin: 20px;
}

.col-12{
  display:flex;
  justify-content: center;
}
.presentation{
  text-align: center;
}

.trait{
  height: 2px;
  margin: 32px 200px;
  background-color: #8faadc;
}
/*compétence*/

.blue{
  background-color:#dde5f4;
  height: 300px;
  width: 400px;
  margin: 10px;
  padding: 20px;
  box-shadow: 10px 5px 5px #dadada;
  border-radius: 10%;
  
}
.blue:hover{
  transform: scale(1.1) ;
}
.blue h4{
  text-align: center;
  color: #8faadc;
}

.blue li{
  color: #484848 ;
}
/*experience*/
 /* link*/
 .links{
   display:flex;
 }