/* !!! reste à centraliser les listes de hard skills,langue et programming languages dans la version mobil-first*/
/*  font*/
@font-face {
  font-family: "roboto";
  src: url("./../font/Roboto-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto-italic";
  src: url("./../font/Roboto-LightItalic.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("./../font/Roboto-Medium.ttf");
  font-style: bold;
}

/*CV general #8faadc #f2f2f2*/

body,
h1,
h2,
h3,
p,
span {
  font-family: "roboto";
}

h1 {
  font-size: 1em;
  font-family: roboto-bold;
}

h2 {
  color: #8faadc;
  margin: 32px;
  text-align: center;
  font-family: roboto-bold;
}

h3 {
  font-size: 1em;
  font-size: 1em;
  font-family: roboto-bold;
}

/*navbar*/
nav {
  background-color: #8faadc;

}

/*header*/
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 10px 5px 5px #dde5f4;
  margin: 50px;
}

.col-12 {
  display: flex;
  justify-content: center;
}

#presentation {
  text-align: center;
}

.trait {
  height: 2px;
  margin: 64px 200px;
  background-color: #8faadc;
}

/*compétence*/

.blue {
  background-color: #dde5f4;
  height: 300px;
  width: 400px;
  margin: 10px;
  padding: 20px;
  box-shadow: 10px 5px 5px #dadada;

}

.soft-skills{

  margin: 10px 0px 20px 0px;
  width: 340px;
  justify-content: center;
}


.skills{
  height: 200px;
}

.blue:hover {
  transform: scale(1.1);
}
.blue h4 {
  text-align: center;
  color: #8faadc;
}

.blue li {
  color: #484848;
}
/*card*/
.card{
  box-shadow: 10px 5px 5px #dde5f4;
}
.card img{
    border-radius: 0px;
    margin: 0px;
    box-shadow: none;
  }
  .card a{
    color: black;
  }
  .card a:link{
    text-decoration: none;
    color: black;
}

.card a:hover{
    
  text-align: none;
  color: black;
}

/*experience*/

.experience{
 height: 250px;
 padding-right:32px;
 padding-left: 16px;
}
.experience ul{
  padding: 24px 24px;
}
/*formation*/
.formation{
  height: 200px;
  padding: 40px 24px;
}

/* interêt*/

.interêt{
  text-align: center;
  margin-bottom: 48px ;
}
/* link*/
footer {
  background-color: #8faadc;
  height: 96px;
}

.links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  height: 96px;
}

.links li  {
  color: #8faadc;
  justify-content: center;
  margin: 15px;
  
}

i {
  color: #ffffff;
  font-size: 0.5rem;
  text-align: center;
}

a {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: roboto-bold;
}
#git i:hover ,#git a:hover{
  color: #24292E;
  text-decoration:none;
  transform: scale(1.1);
}

#linkedin i:hover ,#linkedin a:hover{
  color:#0A66C2;
  text-decoration:none;
  transform: scale(1.1);
}

#twitter i:hover ,#twitter a:hover{
  color:#1A91DA;
  text-decoration: none;
  transform: scale(1.1);
}

#contact i:hover ,#contact a:hover{
  color: #E4B420;
  text-decoration:none;
  transform: scale(1.1);
}