/*  font*/
@font-face {
  font-family:"roboto";
  src: url("./../font/Roboto-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family:"roboto-italic";
  src: url("./../font/Roboto-LightItalic.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("./../font/Roboto-Medium.ttf");
  font-style: bold;
}
/*CV general #8faadc #f2f2f2*/

body ,h1,h2,h3,p,span{
font-family: "roboto";
}

h2{
  color: #8faadc;
  margin: 32px;
  text-align: center;
}
/*navbar*/  
nav{
  background-color: #8faadc;

}
/*header*/
img{
  height: 150px;
  width: 150px;
  border-radius: 40%;
  margin: 20px;
}

.col-12{
  display:flex;
  justify-content: center;
}
.presentation{
  text-align: center;
}

.trait{
  height: 2px;
  margin: 32px 200px;
  background-color: #8faadc;
}
/*compétence*/

.blue{
  background-color:#dde5f4;
  height: 300px;
  width: 400px;
  margin: 10px;
  padding: 15px;
}

.blue h4{
  text-align: center;
  color: #8faadc;
}

.blue li{
  color: #484848 ;
}
/*experience*/
