@font-face {
  font-family: "courgette";
  src: url("./../font/Courgette-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "oswald";
  src: url("./../font/Oswald-Regular.ttf") format("truetype");
}
.container{
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3,
h4 {
  font-family: courgette;
}

.navbar-brand {
  font-family: courgette;
  font-size: 50px;
  ;
}

.text-light {
  font-family: courgette;
}
.text-white-50{
  font-family:oswald;
}
